<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.ginasystem.plugins.mbtiles"
      version="1.0.0">

    <name>MBTilesPlugin</name>
    <description>Cordova MBTiles Plugin</description>
    <keywords>cordova,mbtiles</keywords>
    
    <!-- dependency id="org.apache.cordova.file@1" /-->
    <dependency id="org.apache.cordova.file-transfer" version="0.4.2" />

    <!-- android -->
    <platform name="android">
	<js-module src="www/MBTilesPlugin.js" name="MBTilesPlugin">
     	   <clobbers target="window.MBTilesPlugin" />
    	</js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MBTilesPlugin">
	            <param name="android-package" value="com.ginasystem.plugins.mbtiles.MBTilesPlugin"/>
	        </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	    <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/MBTilesActions.java" target-dir="src/com/ginasystem/plugins/mbtiles" />
	    <source-file src="src/android/MBTilesPlugin.java" target-dir="src/com/ginasystem/plugins/mbtiles" />

    </platform>

    <platform name="ios">

	<js-module src="www/MBTilesPlugin.js" name="MBTilesPlugin">
     	   <clobbers target="window.MBTilesPlugin" />
    	</js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MBTilesPlugin">
                <param name="ios-package" value="MBTilesPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/MBTilesActions.h" />
        <source-file src="src/ios/MBTilesActions.m" />
        <header-file src="src/ios/MBTilesPlugin.h" />
        <source-file src="src/ios/MBTilesPlugin.m" />
        <header-file src="src/ios/MBTilesConstant.h" />
        <source-file src="src/ios/MBTilesConstant.m" />
        
        <framework src="libsqlite3.dylib" />
        <framework src="MobileCoreServices.framework" />
        <framework src="AssetsLibrary.framework" />
    </platform>
</plugin>
