#map { 
	height: 700px; 
}

#bandeau {
	padding-bottom:0.5% !important;
}

#logo {
	margin-right:5px;
	margin-top:5px;
}

.margin {
    margin-left :2% !important;
	margin-right :2% !important;
	margin-top : 1% !important;
}

#mapData {
	text-align : center;
}

.txtArea{
	margin-left:3%;
	margin-right:3%;
	border-radius: 10px;
}

h2{
	text-align:center;
}

.form {
	margin-right:5px;
}

#inline{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.icon {
	font-size: 24px;
}

.icon-menu {
	margin-top:-11px;
	color : #689f38 !important;
}

/*
A rajouter dans le js : document.getElementById("monElement").className += "maClasse3"; (ajoute une classe sans supprimer les autres)
document.getElementById("monElement").className = document.getElementById("maClasse").className.replace( /(?:^|\s)icon-notif(?!\S)/g , "" ) (supprimer la class icon-notif)
*/
.icon-notif {
	background-color: red;
}